@import 'vars';
@import 'fonts';
@import 'libs';

.e404 {
  padding: 90px 0;
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  img {
    max-width: 100%;
  }
  &__descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      margin-bottom: 20px;
    }
    p {
      text-align: center;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.467416px;
      color: $text;
      margin-bottom: 20px;
    }
  }
  &__link {
    background: #f73e42;
    box-shadow: 4.19857px 4.19857px 9.44678px rgba(230, 49, 82, 0.3);
    border-radius: 7.69738px;
    width: 135px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      text-decoration: none;
      color: #fff;
      box-shadow: none;
    }
  }
  @media (max-width: 950px) {
    padding: 50px 0;
    &__list {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
    &__img {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 450px) {
    padding: 30px 0;
    &__descr {
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.form {
  background-color: #eceeef;
  padding: 110px 0;
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__descr {
    width: 50%;
  }
  &__title {
    font-weight: normal;
    font-size: 27px;
    line-height: 31px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 13px;
  }
  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 31px;
    text-transform: capitalize;
    color: #3c3c3c;
  }
  &__form {
    width: 45%;
  }
  form {
    width: 100%;
  }
  &__field {
    width: 100%;
    margin-bottom: 25px;
    input {
      width: 100%;
      background: #ffffff;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03);
      border-radius: 10px;
      border: 0;
      height: 49px;
      padding-left: 25px;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: $title;
      letter-spacing: 0.05em;
      &::placeholder {
        color: #d3d3d3;
      }
    }
  }
  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      width: 161px;
      height: 50px;
      background: $accent;
      box-shadow: 6px 6px 13.5px rgba(230, 49, 82, 0.3);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: normal;
      font-size: 14px;
      line-height: 13px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      color: #ffffff;
      transition: all 0.3s ease-in-out;
      border: 0;
      cursor: pointer;
      &:hover {
        background: #2ecc71;
        box-shadow: 6px 6px 13.5px rgba(46, 204, 113, 0.3);
      }
    }
  }
  @media (max-width: 1200px) {
    padding: 50px 0;
    &__title {
      font-size: 24px;
      line-height: 32px;
    }
    &__text {
      font-size: 16px;
      line-height: 22px;
    }
  }
  @media (max-width: 480px) {
    padding: 30px 0;
    &__container {
      flex-direction: column;
      align-items: center;
    }
    &__descr {
      width: 100%;
      text-align: center;
    }
    &__form {
      width: 80%;
    }
    &__title {
      font-size: 20px;
      line-height: 30px;
    }
    &__text {
      display: none;
    }
  }
}
