@import 'vars';
@import 'fonts';
@import 'libs';

.article-header {
  background-color: #eceeef;
  &__category {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(50%);
    display: inline-block;
    background: #f73e42;
    box-shadow: 0px 3.31445px 3.31445px rgba(0, 0, 0, 0.1);
    border-radius: 9.11473px;
    padding: 5px 25px;
    font-weight: normal;
    font-size: 13.6721px;
    line-height: 22px;
    color: #ffffff;
  }
  &__content {
    padding: 100px 0;
    padding-bottom: 50px;
    position: relative;
  }
  &__title {
    font-weight: bold;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: 0.03em;
    color: $title;
    margin-bottom: 25px;
  }
  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #7f8c8d;
  }
  @media (max-width: 1000px) {
    &__content{
      padding: 50px 0;
    }
    &__title{
      font-size: 35px;
      line-height: 42px;
      margin-bottom: 15px;
    }
  }
  @media (max-width: 600px) {
    &__content{
      padding: 40px 0;
    }
    &__title{
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 15px;
    }
    &__text{
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.article {
  &__container{
    padding: 50px 0;
    border-bottom: 1px solid #ECEEEF;
  }
  &__author {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  &__avatar {
    margin-right: 20px;
    img {
      border-radius: 50%;
    }
  }
  &__img{
    max-width: 100%;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__name {
    font-weight: 500;
    font-size: 13.2578px;
    line-height: 19px;
    color: $text;
    a {
      color: $accent;
    }
  }
  &__date {
    font-weight: normal;
    font-size: 12.4292px;
    line-height: 19px;
    color: $text;
  }
  &__img {
    margin-bottom: 60px;
    filter: drop-shadow(0px 25.687px 25.687px rgba(0, 0, 0, 0.06)),
      drop-shadow(0px 13.004px 11.1979px rgba(0, 0, 0, 0.0405)),
      drop-shadow(0px 5.13739px 4.17413px rgba(0, 0, 0, 0.03)),
      drop-shadow(0px 1.1238px 1.48503px rgba(0, 0, 0, 0.0195));
    border-radius: 8.28612px;
  }
  p {
    font-weight: normal;
    font-size: 14px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: $title;
    margin-bottom: 30px;
  }
  &__quote {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      margin-bottom: 30px;
    }
  }
  &__quote-text {
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: $title;
    margin-bottom: 15px;
  }
  &__quote-name {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: $text;
  }
  @media (max-width: 1000px) {
    &__author{
      margin-bottom: 25px;
    }
    &__img{
      margin-bottom: 25px;
    }
    p{
      margin-bottom: 25px;
    }
    &__quote{
      padding-top: 0;
    }
  }
  @media (max-width: 600px){
    p{
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 15px;
    }
    &__img{
      margin-bottom: 15px;
    }
    &__quote{
      padding-bottom: 15px;
    }
    &__quote-text{
      font-size: 18px;
      line-height: 24px;
    }
    &__quote-name{
      font-size: 16px;
    }
  } 
}

.casinos {
  padding: 60px 0;
  background: #eceeef;
  &__filter {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: 70px;
    gap: 20px;
  }
  &__filter_link {
    padding: 7px 22px;
    border: 1px solid $accent;
    border-radius: 27px;
    color: $accent;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    &:hover {
      color: #fff;
      background-color: $accent;
      text-decoration: none;
    }
  }
  &__filter_all {
    border: 1px solid #d6d7db;
    color: #7f8c8f;
    &:hover {
      background-color: #d6d7db;
      text-decoration: none;
      color: $accent;
    }
  }
  &__block {
    background: #ffffff;
    // box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 10px 20px;
    position: relative;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      box-shadow: none;
      border-color: rgba(0, 0, 0, 0.15);
    }
  }
  &__num {
    position: absolute;
    padding: 12px;
    padding-top: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    background-color: rgba(46, 204, 113, 0.85);
    border-radius: 6px;
    left: 35px;
    top: -18px;
    z-index: 10;
  }
  &__num.red {
    background: rgba(247, 62, 66, 0.85);
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  &__logo {
    width: 30%;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  &__descr {
    width: 30%;
    text-align: center;
  }
  .descr1 {
    font-size: 11px;
    line-height: 17px;
    text-align: center;
    color: $text;
  }
  .descr2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #111111;
  }
  .descr3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #2e3246;
    margin-bottom: 5px;
  }
  .descr4 {
    font-size: 12px;
    line-height: 17px;
    color: $text;
  }
  &__rating {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__games {
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #2e3246;
    margin-bottom: 10px;
    svg {
      margin-right: 5px;
    }
  }
  &__rating_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #d6d7db;
    box-sizing: border-box;
    border-radius: 24px;
    width: 240px;
    padding: 10px 0;
    font-weight: 500;
    font-size: 19px;
    line-height: 19px;
    text-align: center;
    color: #111111;
    margin-bottom: 10px;
    img {
      margin-right: 25px;
    }
  }
  &__tc {
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    color: $text;
    border-bottom: 1px solid $text;
    transition: all 0.2 ease-in-out;
    &:hover {
      color: $text;
      text-decoration: none;
      border-color: transparent;
    }
  }
  &__btns {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0px 0px 18.0769px rgba(255, 255, 255, 0.35);
    border-radius: 24px;
    transition: all 0.3s ease-in-out;
    padding: 10px 0;
    max-width: 215px;
    span {
      width: 24px;
      height: 24px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      border-radius: 50%;
    }
  }
  &__play {
    margin-bottom: 10px;
    background-color: #2ecc71;
    color: #ffffff;
    &:hover {
      background-color: darken(#2ecc71, 10%);
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__read {
    background-color: $text;
    color: #ffffff;
    &:hover {
      background-color: darken($text, 10%);
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__text {
    font-size: 12px;
    line-height: 17px;
    color: #b2bec3;
  }
  @media (max-width: 900px) {
    &__logo {
      width: 15%;
    }
    &__rating_block {
      width: auto;
      padding: 5px 10px;
    }
    &__rating {
      width: 22%;
      img {
        margin-right: 0;
      }
    }
    &__btns {
      width: 22%;
    }
  }
  @media (max-width: 650px) {
    padding: 40px 0;
    &__content {
      flex-wrap: wrap;
    }
    &__logo {
      width: 50%;
    }
    &__descr {
      width: 50%;
      margin-bottom: 10px;
    }
    &__rating {
      width: 50%;
    }
    &__btns {
      width: 50%;
    }
  }
  @media (max-width: 450px) {
    &__logo {
      width: 100%;
      margin-bottom: 5px;
    }
    &__descr {
      width: 100%;
      margin-bottom: 5px;
    }
    &__rating {
      width: 100%;
      margin-bottom: 10px;
    }
    &__btns {
      width: 100%;
    }
    &__text {
      text-align: center;
    }
    &__content {
      margin-bottom: 15px;
    }
  }
}

.guides,
.related {
  padding: 50px 0;
  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__icon {
    margin-bottom: 20px;
    svg {
      width: 57px !important;
      height: 57px !important;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: $title;
    margin-bottom: 18px;
  }
  &__descr {
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: $text;
    margin-bottom: 63px;
    max-width: 600px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 21px;
    margin-bottom: 49px;
  }
  &__item {
    img {
      filter: drop-shadow(0px 31px 31px rgba(0, 0, 0, 0.06)),
        drop-shadow(0px 15.6938px 13.5141px rgba(0, 0, 0, 0.0405)),
        drop-shadow(0px 6.2px 5.0375px rgba(0, 0, 0, 0.03)),
        drop-shadow(0px 1.35625px 1.79219px rgba(0, 0, 0, 0.0195));
      border-radius: 6px;
      margin-bottom: 25px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
      max-width: 100%;
    }
  }
  &__item_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: $title;
    display: block;
    margin-bottom: 8px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      text-decoration: none;
      color: $accent;
    }
  }
  &__item_ad {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
  }
  &__item_date {
    margin-right: 25px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #545454;
  }
  &__item_author {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #545454;
    a {
      font-weight: bold;
      text-decoration: none;
      color: #545454;
      transition: all 0.3s ease;
      &:hover {
        text-decoration: none;
        color: $accent;
      }
    }
  }
  &__item_text {
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: $text;
  }
  &__links {
    max-width: 200px;
    display: grid;
  }
  &__link {
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 13px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-weight: 300;
  }
  &__more {
    color: #ffffff;
    background: #2ecc71;
    box-shadow: 6px 6px 13.5px rgba(46, 204, 113, 0.3);
    &:hover {
      text-decoration: none;
      color: #ffffff;
      box-shadow: none;
    }
  }
  @media (max-width: 1200px) {
    &__icon {
      margin-bottom: 15px;
    }
    &__list {
      grid-gap: 24px;
      margin-bottom: 35px;
    }
    &__thumb {
      img {
        margin-bottom: 15px;
      }
    }
    &__title {
      font-size: 28px;
      line-height: 36px;
    }
    &__descr {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 35px;
    }
    &__item_title {
      font-size: 18px;
      line-height: 24px;
    }
    &__item_text {
      font-size: 14px;
      line-height: 20px;
    }
  }
  @media (max-width: 650px) {
    &__list {
      grid-template-columns: 1fr;
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  @media (max-width: 480px) {
    padding: 30px 0;
    &__icon {
      margin-bottom: 10px;
    }
    &__title {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 10px;
    }
    &__descr {
      font-size: 12px;
      line-height: 21px;
      margin-bottom: 25px;
    }
    &__list {
      margin-bottom: 0;
    }
    &__item {
      text-align: left;
      align-items: flex-start;
    }
    &__item_title {
      font-size: 18px;
      margin-bottom: 5px;
      line-height: 28px;
    }
    &__item_text {
      font-size: 12px;
      line-height: 23px;
    }
    &__more {
      display: none;
    }
  }
}

@import 'media'; // Always at the end
