@import 'vars';
@import 'fonts';
@import 'libs';

.banner {
  padding: 70px 0;

  background: #f1f1f1;
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__descr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;
  }
  &__icon_wrapper {
    box-shadow: 0px 5px 15px 0px rgba(247, 62, 66, 0.2);
    border-radius: 50%;
    padding: 30px;
    img {
      max-width: 100%;
    }
  }
  &__icon {
    background: #f73e42;
    box-shadow: 0px 40.037px 68.1481px rgba(0, 0, 0, 0.04),
      0px 25.9499px 39.9108px rgba(0, 0, 0, 0.0303704),
      0px 15.4217px 21.7064px rgba(0, 0, 0, 0.0242963),
      0px 8.00741px 11.0741px rgba(0, 0, 0, 0.02),
      0px 3.26228px 5.55281px rgba(0, 0, 0, 0.0157037),
      0px 0.741427px 2.68176px rgba(0, 0, 0, 0.00962963);
    border-radius: 50%;
    width: 260px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    color: $title;
    font-weight: bold;
    font-size: 50px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  &__title2 {
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.03em;
    color: $title;
    margin-bottom: 20px;
  }
  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    max-width: 1100px;
    margin-bottom: 15px;
    color: #7f8c8d;
  }
  &__links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin-top: 20px;
  }
  &__link {
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 5px 20px;
    border-right: 1px solid $accent;
    background-color: $accent;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    &:last-child {
      border-right: 0;
    }
    &:hover {
      color: #ffffff;
      background-color: darken($accent, 10%);
      text-decoration: none;
    }
  }
  @media (max-width: 950px) {
    padding: 50px 0;
    &__container {
      flex-direction: column;
      align-items: center;
    }
    &__descr {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    &__icon_wrapper {
      margin-bottom: 30px;
      padding: 15px;
    }
    &__icon {
      width: 150px;
      height: 150px;
      img {
        max-width: 70%;
      }
    }
    &__title {
      font-size: 50px;
    }
  }
  @media (max-width: 600px) {
    &__title {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 10px;
    }
    &__icon_wrapper {
      margin-bottom: 15px;
    }
    &__links {
      grid-gap: 15px;
      margin-top: 0;
    }
    &__link {
      font-size: 14px;
      padding: 5px 10px;
    }
  }
  @media (max-width: 450px) {
    &__title {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 10px;
    }
    &__icon_wrapper {
      margin-bottom: 10px;
    }
    &__links {
      grid-gap: 10px;
      grid-template-columns: 1fr;
    }
    p {
      margin-bottom: 15px;
      line-height: 24px;
    }
    &__link {
      font-size: 14px;
      padding: 5px 10px;
    }
  }
}

.casinos {
  padding: 120px 0;
  padding-top: 40px;
  &__filter {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-bottom: 70px;
    gap: 20px;
  }
  &__filter_link {
    padding: 7px 22px;
    border: 1px solid $accent;
    border-radius: 27px;
    color: $accent;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    &:hover {
      color: #fff;
      background-color: $accent;
      text-decoration: none;
    }
  }
  &__filter_all {
    border: 1px solid #d6d7db;
    color: #7f8c8f;
    &:hover {
      background-color: #d6d7db;
      text-decoration: none;
      color: $accent;
    }
  }
  &__block {
    background: #ffffff;
    box-shadow: 0px 0px 19.8718px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 7px 10px;
    position: relative;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      box-shadow: none;
      border-color: rgba(0, 0, 0, 0.15);
    }
  }
  &__num {
    position: absolute;
    padding: 7px;
    padding-top: 13px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    background-color: rgba(46, 204, 113, 0.85);
    border-radius: 6px;
    left: 35px;
    top: -18px;
    z-index: 10;
  }
  &__num.red {
    background: rgba(247, 62, 66, 0.85);
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__logo {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 40px;
      width: 0.6px;
      background-color: #b4b4b4;
    }
    img {
      max-width: 100%;
    }
  }
  &__name {
    font-size: 14px;
    text-align: center;
  }
  .logo {
    width: 90px;
    height: 90px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  &__descr {
    width: 40%;
    text-align: center;
    position: relative;
    padding: 0 14px;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 40px;
      width: 0.6px;
      background-color: #b4b4b4;
    }
  }
  .descr1 {
    font-size: 8px;
    line-height: 14px;
    text-align: center;
    color: $text;
  }
  .descr2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #111111;
  }
  .descr3 {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #2e3246;
    margin-bottom: 5px;
  }
  .descr4 {
    p{
      font-size: 16px;
    line-height: 20px;
    color: $text;
    }
  }
  &__rating {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 40px;
      width: 0.6px;
      background-color: #b4b4b4;
    }
  }
  &__games {
    font-size: 9px;
    line-height: 17px;
    text-align: center;
    color: #2e3246;
    margin-bottom: 5px;
    svg {
      margin-right: 5px;
    }
  }
  &__rating_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #d6d7db;
    box-sizing: border-box;
    border-radius: 24px;
    width: 160px;
    padding: 10px 0;
    font-weight: 500;
    font-size: 19px;
    line-height: 19px;
    text-align: center;
    color: #111111;
    margin-bottom: 10px;
    img {
      margin-right: 25px;
    }
  }
  &__tc {
    font-size: 8px;
    line-height: 12px;
    text-align: center;
    text-decoration: none;
    color: $text;
    border-bottom: 1px solid $text;
    transition: all 0.2 ease-in-out;
    &:hover {
      color: $text;
      text-decoration: none;
      border-color: transparent;
    }
  }
  &__btns {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__btn {
    width: 143px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0px 0px 18.0769px rgba(255, 255, 255, 0.35);
    border-radius: 24px;
    transition: all 0.3s ease-in-out;
    padding: 7px 0;
    max-width: 215px;
    span {
      width: 15px;
      height: 15px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      border-radius: 50%;
      svg {
        max-width: 60%;
      }
    }
  }
  &__play {
    margin-bottom: 5px;
    background-color: #2ecc71;
    color: #ffffff;
    &:hover {
      background-color: darken(#2ecc71, 10%);
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__read {
    background-color: $text;
    color: #ffffff;
    &:hover {
      background-color: darken($text, 10%);
      color: #ffffff;
      text-decoration: none;
    }
  }
  p {
    font-size: 9px;
    line-height: 12px;
    color: #b2bec3;
  }
  @media (max-width: 900px) {
    &__logo {
      width: 15%;
    }
    &__rating_block {
      width: auto;
      padding: 5px 10px;
    }
    &__rating {
      width: 22%;
      img {
        margin-right: 0;
      }
    }
    &__btns {
      width: 22%;
    }
  }
  @media (max-width: 650px) {
    padding: 40px 0;
    &__content {
      flex-wrap: wrap;
    }
    &__logo {
      width: 50%;
      &:after {
        display: none;
      }
    }
    &__descr {
      width: 50%;
      margin-bottom: 10px;
      &:after {
        display: none;
      }
    }
    &__rating {
      width: 50%;
      &:after {
        display: none;
      }
    }
    &__btns {
      width: 50%;
    }
  }
  @media (max-width: 450px) {
    &__logo {
      width: 100%;
      margin-bottom: 5px;
    }
    &__descr {
      width: 100%;
      margin-bottom: 5px;
    }
    &__rating {
      width: 100%;
      margin-bottom: 10px;
    }
    &__btns {
      width: 100%;
    }
    &__text {
      text-align: center;
    }
    &__content {
      margin-bottom: 15px;
    }
  }
}

.content {
  padding-top: 40px;
  padding-bottom: 50px;
  &__title {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 35px;
    line-height: 38px;
    color: $title;
  }
  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 55px;
  }
  &__author,
  &__updates {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #6c6c6c;
    a {
      color: $title;
      text-decoration: none;
      font-weight: bold;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $accent;
        text-decoration: none;
      }
    }
    b {
      color: $title;
    }
  }
  &__author {
    margin-right: 50px;
  }
  &__row {
    margin-bottom: 80px;
    background-color: #f1f1f1;
  }
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__thumb {
    width: 58%;
    position: absolute;
    left: 0;
    top: 55%;
    transform: translateY(-50%);
    img {
      max-width: 100%;
      max-height: 420px;
    }
  }
  &__descr {
    width: 38%;
  }
  &__descr_title {
    display: block;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: #000000;
    margin-bottom: 15px;
  }
  ol {
    margin: 0;
    padding-left: 0;
    li {
      font-weight: normal;
      font-size: 15px;
      line-height: 19px;
      letter-spacing: 0.03em;
      color: #6c6c6c;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 15px;
      span {
        display: inline-block;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $accent;
        border-radius: 50%;
        margin-right: 15px;
        color: #fff;
      }
    }
  }
  &__main {
    h2 {
      font-weight: 500;
      font-size: 35px;
      line-height: 42px;
      color: $title;
      margin-bottom: 25px;
    }
    h3 {
      font-weight: 500;
      font-size: 30px;
      line-height: 38px;
      color: $title;
      margin-bottom: 25px;
      margin-top: 25px;
      &:first-child {
        margin-top: 0;
      }
    }
    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 29px;
      color: #6c6c6c;
      margin-bottom: 15px;
    }
  }
  &__block {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:last-child {
      margin-bottom: 0;
    }
    h3 {
      width: 100%;
      text-align: center;
      font-weight: 500;
      font-size: 41px;
      line-height: 38px;
      letter-spacing: 0.03em;
      margin-bottom: 30px;
      color: $title;
    }
    p {
      font-size: 17px;
      line-height: 24px;
      width: 100%;
      margin-bottom: 25px;
      color: $title;
    }
    ul {
      padding-left: 32px;
      margin: 0;
      margin-bottom: 25px;
      li {
        position: relative;
        padding-left: 28px;
        font-size: 17px;
        line-height: 24px;
        width: 100%;
        margin-bottom: 15px;
        color: $title;
        list-style-type: none;
        &:after {
          content: '';
          position: absolute;
          top: 3px;
          left: 0;
          width: 19px;
          height: 19px;
          background-image: url(../img/categories/list.svg);
        }
      }
    }
  }
  &__icon {
    margin-bottom: 45px;
  }
  @media (max-width: 900px) {
    &__icon {
      margin-bottom: 20px;
    }
    h3 {
      font-size: 35px;
      line-height: 45px;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
    }
    ul {
      padding-left: 0;
      margin-bottom: 20px;
      li {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  @media (max-width: 750px) {
    &__thumb {
      position: static;
      transform: none;
    }
    &__list {
      flex-direction: column;
      align-items: center;
      padding: 40px 0;
    }
  }
  @media (max-width: 600px) {
    padding: 40px 0;
    &__descr {
      width: 100%;
    }
    &__icon {
      margin-bottom: 15px;
    }
    &__title {
      font-size: 28px;
      line-height: 36px;
      text-align: center;
    }
    h3 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 15px;
    }
    p {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 15px;
    }
    ul {
      margin-bottom: 15px;
      li {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
  @media (max-width: 500px) {
    &__thumb {
      width: 100%;
    }
    &__info {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 25px;
    }
  }
}

.faqs {
  padding: 50px 0;
  &__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: $title;
    margin-bottom: 45px;
  }
  &__block {
    border-bottom: 1px solid #f1f3f4;
    margin-bottom: 18px;
    padding-bottom: 18px;
  }
  &__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    svg {
      transition: all 0.3s ease-in-out;
    }
  }
  &__block_title {
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    text-transform: capitalize;
    color: #3c3c3c;
  }
  &__body {
    padding-top: 20px;
    padding-left: 20px;
    display: none;
    p {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: $text;
    }
  }
  &__block.active {
    svg {
      transform: rotate(180deg);
    }
  }
  @media (max-width: 1200px) {
    &__title {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 20px;
    }
    &__block_title {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 0;
    }
    &__block {
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    &__body {
      padding-left: 20px;
      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  @media (max-width: 480px) {
    &__title {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 22px;
    }
    &__block_title {
      font-size: 14px;
      line-height: 26px;
    }
    &__block {
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    &__body {
      padding-top: 15px;
      padding-left: 15px;
      p {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

.related {
  padding-bottom: 50px;
  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 18px;
    color: $title;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    img {
      margin-bottom: 25px;
      width: 100%;
    }
  }
  &__item_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: $title;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-bottom: 8px;
    &:hover {
      color: $accent;
      text-decoration: none;
    }
  }
  &__item_date {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #545454;
    margin-bottom: 5px;
  }
  &__item_text {
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: $text;
  }
  @media (max-width: 900px) {
    &__title {
      text-align: center;
    }
  }
  @media (max-width: 800px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      &:last-child {
        display: none;
      }
    }
  }
  @media (max-width: 600px) {
    &__list {
      grid-template-columns: 1fr;
    }
    &__item {
      &:last-child {
        display: block;
      }
    }
    &__item_title {
      font-size: 16px;
      line-height: 24px;
    }
    &__item_text {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

@import 'media'; // Always at the end
