@import 'vars';
@import 'fonts';
@import 'libs';

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  color: $text;
  input,
  textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

b,
strong {
  font-weight: bold;
}

.inner {
  max-width: 1160px;
  margin: 0 auto;
  position: relative;
  @media (max-width: 1400px) {
    padding: 0 15px;
  }
}

#menu-header-second {
  display: none;
}

.screen-reader-text {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  word-wrap: normal !important;
  display: none;
}

.star-rating .star-full:before {
  content: '\f155';
}

.star-rating .star-half:before {
  content: '\f459';
}

.star-rating .star-empty:before {
  content: '\f154';
}

.star-rating .star {
  color: #ffd32a;
  display: inline-block;
  font-family: dashicons;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  line-height: 1;
  text-align: center;
  text-decoration: inherit;
  vertical-align: top;
  width: 20px;
}

#menu-header-first {
  display: none;
}

header {
  background-color: $accent;
  .header__inner {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
  }
  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  li {
    padding: 0 35px;
    list-style-type: none;
    a {
      font-weight: normal;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
      &:active {
        color: #000;
      }
    }
  }
  .header__brand {
    padding: 0 20px;
  }
  .header__logo {
    display: block;
    height: 55px;
  }
  .header__search_link {
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%);
  }
  .header__search_link--mobile {
    display: none;
  }
  .header__brand--mob {
    display: none;
  }
  .header__socials {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    width: 100%;
  }
  .header__socials-title {
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #090909;
  }
  .header__social-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    justify-content: center;
    align-items: center;
  }
  .header__social-link {
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    width: 41px;
    height: 41px;
    svg {
      transition: all 0.3s ease-in-out;
      height: 20px;
      width: 20px;
      fill: #fff;
    }
    &:hover {
      background-color: #2ecc71;
      svg {
        fill: #fff;
      }
    }
  }
  @media (max-width: 1450px) {
    .header__search_link {
      display: none;
    }
  }
  @media (max-width: 1400px) {
    .header__inner {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @media (max-width: 1150px) {
    li {
      padding: 0 15px;
      a {
        font-size: 17px;
      }
    }
  }
  @media (max-width: 998px) {
    li {
      padding: 0 10px;
      a {
        font-size: 15px;
      }
    }
  }
  @media (max-width: 850px) {
    .header__brand--mob {
      display: block;
      height: 56px;
    }
    .header__container {
      padding: 15px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    ul {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      li {
        width: 100%;
        padding: 20px 0px;
        border-bottom: 1px solid #efefef;
        margin-bottom: 0;
        a {
          color: #090909;
          font-weight: normal;
          font-size: 21px;
          line-height: 23px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
        }
      }
    }
    .header__nav {
      position: absolute;
      width: 320px;
      height: 100vh;
      left: 0;
      top: 86px;
      background-color: #ffffff;
      z-index: 1000;
      transform: translateX(-321px);
      transition: all 0.3s ease-in;
      padding: 10px;
    }
    .header__nav.is-active {
      transform: translateX(0);
    }
    .header__brand {
      display: none;
    }
    .header__socials {
      display: flex;
    }
    .header__search_link--mobile {
      display: block;
    }
    .header__nav {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 20px;
    }
    .header__search_link {
      margin-left: 0px;
    }
  }
}

.hamburger {
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: transparent;
  display: none;
  &__inner {
    position: relative;
    width: 35px;
    height: 20px;
  }
  span {
    height: 2px;
    border-radius: 3px;
    width: 100%;
    background-color: #fff;
    position: absolute;
  }
  &__top {
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
  }
  &__middle {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease;
  }
  &__bottom {
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
  }
  &:focus {
    outline: transparent;
  }
  @media (max-width: 850px) {
    display: block;
  }
}

.hamburger.is-active {
  .hamburger__middle {
    opacity: 0;
    visibility: hidden;
  }
  .hamburger__top {
    transform: rotate(40deg);
    top: 8px;
  }
  .hamburger__bottom {
    transform: rotate(-40deg);
    bottom: 10px;
  }
}

.wpcf7 .ajax-loader {
  display: none !important;
}

.nav-links {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 13px;
}

.page-numbers {
  padding: 0 15px;
  height: 41px;
  border-radius: 5px;
  background-color: $accent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.page-numbers.current {
  background-color: $green;
}

p {
  a {
    color: $accent;
    &:hover {
      color: darken($accent, 10%);
      text-decoration: none;
    }
  }
}


.form {
  background-color: #eceeef;
  padding: 50px 0;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__descr {
    width: 50%;
  }
  &__title {
    font-weight: normal;
    font-size: 27px;
    line-height: 31px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 0px;
    text-align: center;
  }
  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    color: #3c3c3c;
    text-align: center;
  }
  &__form {
    width: 45%;
  }
  form {
    width: 100%;
  }
  &__field {
    width: 100%;
    margin-bottom: 10px;
    input {
      width: 100%;
      background: #ffffff;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03);
      border-radius: 10px;
      border: 0;
      height: 49px;
      padding-left: 25px;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: $title;
      letter-spacing: 0.05em;
      &::placeholder {
        color: #d3d3d3;
      }
    }
  }
  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
      width: 161px;
      height: 45px;
      background: $accent;
      box-shadow: 6px 6px 13.5px rgba(230, 49, 82, 0.3);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: normal;
      font-size: 14px;
      line-height: 13px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      color: #ffffff;
      transition: all 0.3s ease-in-out;
      border: 0;
      cursor: pointer;
      &:hover {
        background: #2ecc71;
        box-shadow: 6px 6px 13.5px rgba(46, 204, 113, 0.3);
      }
    }
  }
  &__links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    a{
      color: $accent;
      font-size: 16px;
      text-decoration: none;
      transition: all .3s ease;
      &:hover{
        color: darken($accent, 10%);
      }
    }
  }
  @media (max-width: 1200px) {
    padding: 50px 0;
    &__title {
      font-size: 24px;
      line-height: 32px;
    }
    &__text {
      font-size: 16px;
      line-height: 22px;
    }
  }
  @media (max-width: 480px) {
    padding: 30px 0;
    &__container {
      flex-direction: column;
      align-items: center;
    }
    &__descr {
      width: 100%;
      text-align: center;
    }
    &__form {
      width: 80%;
    }
    &__title {
      font-size: 20px;
      line-height: 30px;
    }
    &__text {
      display: none;
    }
  }
}
