@import 'vars';
@import 'fonts';
@import 'libs';

.search {
  &__header {
    padding: 100px 0;
    background-color: #f1f1f1;
  }
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 33px;
    color: $title;
    margin-bottom: 30px;
  }
  &__result {
    background-color: #fff;
    box-shadow: 0px 0px 25.0476px rgba(0, 0, 0, 0.0425185),
      0px 0px 12.7787px rgba(0, 0, 0, 0.035),
      0px 0px 6.40753px rgba(0, 0, 0, 0.0274815),
      0px 0px 3.09455px rgba(0, 0, 0, 0.0168519);
    padding: 0 15px;
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
    }
  }
  &__result-link {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border-bottom: 3px solid transparent;
    padding: 15px 15px;
    color: $title;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      border-color: $accent;
      text-decoration: none;
      color: $title;
    }
  }
  &__result-link.active {
    border-color: $accent;
    text-decoration: none;
    color: $title;
  }
  @media (max-width: 600px) {
    &__header {
      padding: 40px 0;
    }
    &__title {
      font-size: 28px;
      margin-bottom: 15px;
    }
    &__result {
      padding: 0;
    }
    &__result-link {
      font-size: 14px;
      line-height: 16px;
      padding: 10px;
    }
  }
}

.picks {
  padding: 50px 0;
  padding-bottom: 0;
  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__icon {
    margin-bottom: 20px;
    svg {
      width: 57px !important;
      height: 57px !important;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: $title;
    margin-bottom: 18px;
  }
  &__descr {
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: $text;
    margin-bottom: 63px;
    max-width: 600px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 20px;
    margin-bottom: 60px;
  }
  &__item {
    background: #f1f3f4;
    border-radius: 6px;
    padding: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    &:hover {
      box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    }
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 100%;
  }
  &__thumb {
    width: 60px;
    height: 60px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    img {
      max-width: 90%;
    }
  }
  &__header_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 80%;
  }
  &__header_title {
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 2px;
    color: $title;
  }
  &__text {
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 18px;
    color: $text;
    width: 100%;
  }
  &__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 18px;
    margin-bottom: 18px;
    width: 100%;
  }
  &__btn {
    padding: 6px 0;
    border-radius: 6px;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  &__read {
    background-color: $text;
    &:hover {
      background-color: darken($text, 10px);
      text-decoration: none;
      color: #ffffff;
    }
  }
  &__play {
    background-color: $accent;
    &:hover {
      background-color: darken($accent, 10%);
      text-decoration: none;
      color: #ffffff;
    }
  }
  &__tc {
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #bdc3c7;
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $accent;
      text-decoration: none;
    }
  }
  &__links {
    max-width: 380px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
  }
  &__link {
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-weight: 300;
  }
  &__more {
    color: #ffffff;
    background: #2ecc71;
    box-shadow: 6px 6px 13.5px rgba(46, 204, 113, 0.3);
    &:hover {
      text-decoration: none;
      color: #ffffff;
      box-shadow: none;
    }
  }
  &__discover {
    border: 1px solid #7f8c8d;
    box-sizing: border-box;
    background-color: #fdfffd;
    color: #181818;
    &:hover {
      background-color: $accent;
      color: #ffffff;
      text-decoration: none;
      border-color: $accent;
    }
  }
  @media (max-width: 1200px) {
    &__icon {
      margin-bottom: 15px;
    }
    &__list {
      grid-gap: 24px;
      margin-bottom: 35px;
    }
    &__title {
      font-size: 28px;
      line-height: 36px;
    }
    &__descr {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 35px;
    }
    &__item_title {
      font-size: 18px;
      line-height: 24px;
    }
    &__item_text {
      font-size: 14px;
      line-height: 20px;
    }
  }
  @media (max-width: 850px) {
    &__list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 550px) {
    &__list {
      grid-template-columns: 1fr;
      width: 100%;
    }
    &__item {
      width: 100%;
    }
  }
  @media (max-width: 480px) {
    padding: 30px 0;
    &__icon {
      margin-bottom: 10px;
    }
    &__title {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 10px;
    }
    &__descr {
      font-size: 12px;
      line-height: 21px;
      margin-bottom: 25px;
    }
    &__item {
      padding: 10px;
    }
  }
}

.guides {
  padding: 50px 0;
  padding-bottom: 0;
  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__icon {
    margin-bottom: 20px;
    svg {
      width: 57px !important;
      height: 57px !important;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: $title;
    margin-bottom: 18px;
  }
  &__descr {
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: $text;
    margin-bottom: 63px;
    max-width: 600px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 21px;
    margin-bottom: 49px;
  }
  &__item {
    img {
      filter: drop-shadow(0px 31px 31px rgba(0, 0, 0, 0.06)),
        drop-shadow(0px 15.6938px 13.5141px rgba(0, 0, 0, 0.0405)),
        drop-shadow(0px 6.2px 5.0375px rgba(0, 0, 0, 0.03)),
        drop-shadow(0px 1.35625px 1.79219px rgba(0, 0, 0, 0.0195));
      border-radius: 6px;
      margin-bottom: 25px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
      max-width: 100%;
    }
  }
  &__item_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: $title;
    display: block;
    margin-bottom: 8px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      text-decoration: none;
      color: $accent;
    }
  }
  &__item_ad {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
  }
  &__item_date {
    margin-right: 25px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #545454;
  }
  &__item_author {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #545454;
    a {
      font-weight: bold;
      text-decoration: none;
      color: #545454;
      transition: all 0.3s ease;
      &:hover {
        text-decoration: none;
        color: $accent;
      }
    }
  }
  &__item_text {
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: $text;
  }
  &__links {
    max-width: 200px;
    display: grid;
  }
  &__link {
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 13px;
    font-weight: 500;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-weight: 300;
  }
  &__more {
    color: #ffffff;
    background: #2ecc71;
    box-shadow: 6px 6px 13.5px rgba(46, 204, 113, 0.3);
    &:hover {
      text-decoration: none;
      color: #ffffff;
      box-shadow: none;
    }
  }
  @media (max-width: 1200px) {
    &__icon {
      margin-bottom: 15px;
    }
    &__list {
      grid-gap: 24px;
      margin-bottom: 35px;
    }
    &__thumb {
      img {
        margin-bottom: 15px;
      }
    }
    &__title {
      font-size: 28px;
      line-height: 36px;
    }
    &__descr {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 35px;
    }
    &__item_title {
      font-size: 18px;
      line-height: 24px;
    }
    &__item_text {
      font-size: 14px;
      line-height: 20px;
    }
  }
  @media (max-width: 650px) {
    &__list {
      grid-template-columns: 1fr;
    }
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  @media (max-width: 480px) {
    padding: 30px 0;
    &__icon {
      margin-bottom: 10px;
    }
    &__title {
      font-size: 20px;
      line-height: 27px;
      margin-bottom: 10px;
    }
    &__descr {
      font-size: 12px;
      line-height: 21px;
      margin-bottom: 25px;
    }
    &__list {
      margin-bottom: 0;
    }
    &__item {
      text-align: left;
      align-items: flex-start;
    }
    &__item_title {
      font-size: 18px;
      margin-bottom: 5px;
      line-height: 28px;
    }
    &__item_text {
      font-size: 12px;
      line-height: 23px;
    }
    &__more {
      display: none;
    }
  }
}
